.Air1 video{
   width: 100%;
    object-fit: contain;  
}
.Air1 h1{
    color: white;
    font-size: 90px;
    position: absolute;
    top: 35%;
    font-family: Arial, Helvetica, sans-serif;
    left: 30%; 
}
.Air1 p{
    color: white;
    font-size: 23px;
    position: absolute;
    top: 55%;
    font-family: Arial, Helvetica, sans-serif;
    left: 44%;
}
.Air1 h5{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 58%;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    left: 46%;
}
.Airb1{
    padding-top: 10px;
    padding-bottom:10px ;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 20px;
    border-radius: 25px;
    position: absolute;
    top: 94%;
    border-color: white;
    border-style: solid;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    left: 42%;
}
.Air1 a{
    color: white;
    font-size: 22px;
    position: absolute;
    top: 96%;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    left: 51%;
}

.Air1b2{
    padding-top: 10px;
    padding-bottom:10px ;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 25px;
    position: absolute;
    top: 95%;
    border-color: white;
    border-style: solid;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    left: 90%;
}