.Air4n4 img{
    width: 380px;
    padding-bottom: 100px;
    padding-top: 80px;
}
.Air4n4{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    margin-left: 20px;
}
.Air4n4n1{
    margin-left:80px;
}