.Air4new1 h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    text-align: center;
    margin-top: 0;
}
.Air4{
    background-color: #dddddd43;
    padding-bottom: 100px;
}
.Air4new1{
    padding-top: 140px;
    padding-bottom: 50px;
}
.Air4new2{
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    padding-left: 20px;
    padding-right: 50px;
}