div.scroll-container {
    display: flex;
    align-items: center;
    background-color:  #dddddd43;;
    overflow: auto; 
    white-space: nowrap;
    padding: 10px;
    padding-right: 8%;
    padding-bottom: 100px;
  }

  div.scroll-container img {
    padding-right: 10px;
    border-radius: 25px;
    display: block;
    width: 10rem;
  }

  .scroll-container div{
    background-color: aquamarine;
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
