.l6new1{
    background-color: rgba(0, 0, 0, 0.974);
    padding-right: 70px;
    border-radius: 25px;
    margin-right: 20px;
    padding-bottom: 130px;
}
.l6new2{
    color: white;
    margin-left: 10%;
    padding-top: 4%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.l6new2 p{
    font-size: 13px;
    height: 0;
}