.Mac2 h1{
    font-size: 55px;
    margin-bottom: 80px;
}
.Mac2{
    margin-left: 80px;
    margin-top: 130px;
    font-family: Arial, Helvetica, sans-serif;
}
.Mac2 img{
    border-radius: 25px;
}
.Mac2 h2{
    font-size: 50px;
    color: white;
    left: 65%;
    position: absolute;
   top: 230%; 
}
.Mac2 button{
    position: absolute;
    top: 248%;
    left: 74%;
    padding-top:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 25px;
    font-size: 17px;
    border-style: solid;
    border-color: white;
}