.Mac4{
    background-color: #dddddd43;
    padding-left: 170px;
    padding-right: 170px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.Mac4 p{
    color: grey;
    font-size: 12px;
    margin-top: 13px;
}